@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/***** navbar banner css****/
.header-and-banner-con {
    background: rgb(242, 242, 255);
    background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(235, 249, 255, 1) 100%);
    overflow: hidden;
}

.header-con {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-con .nav-item {
    padding: 0 18px;
    font-size: 18px;
}

.main-header {
    position: fixed;
    z-index: 99;
    background: white;
    width: 100%;
}

.banner-main-con {
    padding-top: 20px;
    height: 80vh;
}

.banner-main-con2 {
    padding-top: 130px;
}

.navbar-nav .nav-item:last-child {
    padding-right: 50px;
}

.header-con .nav-item a:hover {
    color: var(--accent) !important;
}

.header-con .nav-item a {
    color: var(--secondary-color) !important;
}

.header-con .nav-item .is-active {
    color: var(--accent) !important;
}

.img-fluid {
    width: 85px;
}


.slider_1 {
    background-image: url('/assets/images/bannerBackground.JPG');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.opacityDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}


.typerSection {
    z-index: 9;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 100px;
    gap: 11rem;
}

.typerSection>div {
    color: #fff;

}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 8px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    border-radius: 10rem;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #0092cc;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #000;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.githubSvg {
    width: 2rem;
}


.hireMe {
    background: #F7941D;
    color: var(--white-color);
    padding: 16px 43px 15px;
    font-size: 20px;
    display: inline-block;
    border-radius: 35px;
    line-height: 20px;
    border: 2px solid transparent;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hireMe:hover {
    border-color: var(--accent);
    background: var(--light-purple-color);
    color: white;
    text-decoration: none;
    transform: translateY(-8px);
}

.downloadCVText {
    width: 80%;
}

.downloadSvg {
    width: 20%;
}

.bannerButtons {
    gap: 1rem;
}

.downloadCv {
    background: #1B2440;
    color: var(--white-color);
    padding: 16px 43px 15px;
    font-size: 20px;
    display: inline-block;
    border-radius: 35px;
    line-height: 20px;
    border: 2px solid #F7941D;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}


.downloadCv:hover {
    border-color: #1B2440;
    background: #F7941D;
    color: white;
    text-decoration: none;
    transform: translateY(-8px);
}

/* service */
.generic-title h6 {
    font-weight: 600;
    margin-bottom: 14px;
    color: #1B2440;
}

.generic-title h2 {
    font-weight: 700;
}

.generic-title {
    margin-bottom: 46px;
}



.service-inner-con:after {
    content: "";
    width: 35px;
    height: 38px;
    position: absolute;
    bottom: 190px;
    right: -116px;

    animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
}

.service-inner-con h2 {
    color: var(--primary-color);
}

.service-box {
    perspective: 100px;
}

.service-box-item {
    background: #fff;
    border: 1px solid transparent;
    padding: 40px 36px;
    border-radius: 20px;
    box-shadow: 0 0 85px 0 #e9eefc;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.service-box-item:hover {
    border-color: var(--light-purple-color);
}

.service-box-item:hover .service-box-item-content h4 {
    color: var(--light-purple-color);
}

.service-box-item figure {
    width: 130px;
    height: 130px;
    display: flex;
    background: #f4f9ff;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service-box-item figure img {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.service-box-item:hover figure img {
    transform: translateY(-8px);
}

.service-box-item-content {
    margin-left: 156px;
}

.service-box-item-content h4 {
    color: var(--primary-color);
    font-weight: 700;
}

.service-box-item-content p {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

.service-box-item-content a {
    font-size: 18px;
    color: var(--accent);
    padding-bottom: 5px;
    position: relative;
}

.service-box-item-content a:hover {
    color: var(--light-purple-color);
}

.service-box-item-content a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: '';
    position: absolute;
    transition: ease-in-out 0.3s;
    background: var(--light-purple-color);
}

.service-box-item-content a:hover::after {
    width: 100%;
}

.service-box .row:first-child {
    margin-bottom: 30px;
}

.service-box .row:last-child {
    margin-bottom: 40px;
}

.service-box-item a {
    text-decoration: none;
}

/* End of servide */

/* Marquee */
.marquee {
    overflow: hidden;

    display: flex;
    width: 100%;
}

.marquee h1 {
    font-size: 5em;
    white-space: nowrap;
    text-transform: uppercase
}

.marqueeItem {
    width: 120px;
}

/* Marquee */

.timelineUl {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* line */
.timelineUl::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timelineUl li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.timelineUl li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */
.timelineUl li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timelineUl li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* circle */
.timelineUl li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timelineUl li .title,
.timelineUl li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
}

.timelineUl li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}

.timelineUl li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* shadows */
.timelineUl li .title::before,
.timelineUl li .descr::before {

    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.timelineUl li .title::before {
    bottom: calc(100% + 0.125rem);
}

.timelineUl li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

@media (min-width: 40rem) {
    .timelineUl {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timelineUl::before {
        grid-column: 2;
    }

    .timelineUl li:nth-child(odd) {
        grid-column: 1;
    }

    .timelineUl li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .timelineUl li:nth-child(2) {
        grid-row: 2/4;
    }

    .timelineUl li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .timelineUl li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timelineUl li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

.credits {
    margin-top: 1rem;
    text-align: right;
}

.credits a {
    color: var(--color);
}

#timeline {
    background-color: #f4f7ff;

}

.aboutList {
    padding: 1rem;

}

.aboutus_text {
    text-align: justify;
    /* text-indent: 50px; */
    font-size: 20px !important;
    margin-bottom: 30px !important;
}

.informationAbout {
    font-size: 18px;
}

.aboutUs_title {
    color: #1B2440;
}

.code-editor {
    max-width: 100%;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 30px;
    font-size: 18px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(207 146 120);
}

.color-preview-1,
.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.About_image {
    border-radius: 8px;
}


.project1_list {
    list-style-type: "✔️" !important;
    margin-left: 3rem;
}

.project_2 {
    margin-top: 3rem;
}


img.project1 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.project1 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


#terminal_div {
    height: 400px !important;
    resize: both;
    overflow: auto;
}

#terminal_div .prompt {
    color: red;
    /* Change this to your desired color */
}

.terminal_portfolio {
    font-size: 10px;
}




#description {
    font-size: 24px;
}

.form-wrap {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 850px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.form-wrap:before {
    content: "";
    width: 90%;
    height: calc(100% + 60px);
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    background: #07003b;
    z-index: -1;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.form-group {
    margin-bottom: 25px;
}

.form-group>label {
    display: block;
    font-size: 18px;
    color: #000;
}

.custom-control-label {
    color: #000;
    font-size: 16px;
}

.form-control {
    height: 50px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #F7941D;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

textarea.form-control {
    height: 160px;
    padding-top: 15px;
    resize: none;
}

.btn {
    padding: .657rem .75rem;
    font-size: 18px;
    letter-spacing: 0.050em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #F7941D;
    border-color: #F7941D;
}

.btn-primary:hover {
    color: #F7941D;
    background-color: #ffffff;
    border-color: #F7941D;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus,
.btn-primary.focus {
    color: #F7941D;
    background-color: #ffffff;
    border-color: #F7941D;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #F7941D;
    background-color: #ffffff;
    border-color: #F7941D;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}




.footer-area {
    width: 100%;
    display: flex;
    justify-content: center !important;
    background-color: #1B2440;
    color: #fff;
}

.first_footer {
    text-align: center;
    margin: 3rem;
}


.footerLogo {
    width: 9rem;
    margin-bottom: 1rem !important;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}


.footer_text {
    font-size: 18px;
}



.footer_card {
    display: flex;
    height: 70px;
    width: 270px;
}

.footer_card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.footer_card .social-link1,
.footer_card .social-link2,
.footer_card .social-link3,
.footer_card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.footer_card svg {
    transform: scale(1);
}

.footer_card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
}

.footer_card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}

.footer_card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.footer_card .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


#contact {
    background-color: aliceblue;
}



.button {
    margin: auto;
    display: flex;
    background-color: #1B2440;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
    width: fit-content;
}

.button svg {
    height: 30px;
    fill: #fff;
}

.button:hover {
    box-shadow: none;
    background-color: white !important;
    color: #07003b;
    fill: #000;
    border: #07003b solid ;
}